<ion-view view-title="Autor">

	<ion-pane class="tela-custom">

		<ion-content>
			<div class="list card">

			<div class="item item-avatar">

				<h2>Anderson Farias</h2>
				<p>andersonjfarias@yahoo.com.br</p>
				</div>

				<div class="item item-image">
				<img src="img/autor.jpg">
				</div>

				<a class="item item-icon-left positive" href="#">
				<i class="icon ion-android-call"></i>
				(71)98641-2939 / 98849-1717
				</a>

			</div>

		</ion-content>

		<ion-footer-bar class="bar-positive">
			<div class="button-bar">
			<a class="button button-icon ion-arrow-left-a" href="#/users"> <strong>Aplicação</strong></a>
			</div>

		</ion-footer-bar>

	</ion-pane>
</ion-view>