<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.cubos454810" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>cubos</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="andersonjfarias@yahoo.com.br" href="http://example.com.com/">
      Anderson Farias
    </author>

  <plugin name="cordova-plugin-whitelist" version="1.2.0" />
  <content src="index.html"/>
  
  <!--<access origin="*"/>-->
  <access origin="https://cdn.cubos.io/*" />
  <access origin="https://cdn.cubos.io/*" />
  <allow-navigation href="https://cdn.cubos.io/*" />
  <allow-intent href="https://cdn.cubos.io/*" />
  
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>