/* Empty. Add your own CSS if you like */

body, .ionic-body {
font-family: "SayWeb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.bar-header {
         text-align:center !important; 
    }


ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 25px;
}

ion-page.modal {
    padding: 30px;
    border:1px solid red;
    background: rgba(0,0,0,0.5);
}

.popup{
    width: 100% !important;
    height: 400px;
    padding: 0px;
}

.popup-head {

    background-color: #009689;
    text-align: center;
    padding-left:10px; 

}

.popup-body {

    color: #e6b400;
    padding-top:10px; 
    margin-top:20px; 
    padding-left:0px;
    padding-right:0px;  


}

.titulo{
	font-size:15px;
	color:#fff;
	font-weight:800;
	text-align:center;
  padding-left:20px;  
 
}

.sub-titulo{
	font-size:13px;
	color:#fff;
	font-weight:700;
	text-align:center;    
}

.item-miolo {
	font-size:12px; 
	background: none;
	border:none;
	border-bottom: 2px solid green;
	padding:0px;


}

.txtAvaliacao{
	font-size:13px; 
	font-weight:600; 
}

 .ionic_ratings .read_only {
    pointer-events:none !important;
  }

